USE [master]
GO
/****** Object:  Database [KRO_Training]    Script Date: 29/09/2026 16:02:35 ******/
CREATE DATABASE [KRO_Training]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KRO_Training', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\KRO_Training.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KRO_Training_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\KRO_Training_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KRO_Training].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KRO_Training]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 29/09/2026 16:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[usuario_id] [int] NOT NULL,
 CONSTRAINT [PK_ADMINISTRADOR] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACION_RUTINA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_RUTINA](
	[asignacion_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[rutina_id] [int] NOT NULL,
	[entrenador_id] [int] NOT NULL,
	[fecha_asignacion] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ASIGNACION_RUTINA] PRIMARY KEY CLUSTERED 
(
	[asignacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASISTENCIA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA](
	[asistencia_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
 CONSTRAINT [PK_ASISTENCIA] PRIMARY KEY CLUSTERED 
(
	[asistencia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[auditoria_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[accion] [nvarchar](100) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[detalle] [nvarchar](max) NULL,
 CONSTRAINT [PK_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[auditoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALIFICACION_RECOMENDACION]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIFICACION_RECOMENDACION](
	[calificacion_id] [int] IDENTITY(1,1) NOT NULL,
	[recomendacion_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[valor] [int] NOT NULL,
	[comentario] [nvarchar](500) NULL,
	[fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CALIFICACION_RECOMENDACION] PRIMARY KEY CLUSTERED 
(
	[calificacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[usuario_id] [int] NOT NULL,
	[badge_numero] [nvarchar](50) NULL,
	[objetivo] [nvarchar](100) NULL,
	[nivel] [nvarchar](30) NULL,
	[entrenador_id] [int] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJERCICIO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJERCICIO](
	[ejercicio_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[grupo_muscular] [nvarchar](100) NULL,
 CONSTRAINT [PK_EJERCICIO] PRIMARY KEY CLUSTERED 
(
	[ejercicio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRENADOR]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRENADOR](
	[usuario_id] [int] NOT NULL,
	[especialidad] [nvarchar](150) NULL,
 CONSTRAINT [PK_ENTRENADOR] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVALUACION_FISICA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUACION_FISICA](
	[evaluacion_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[entrenador_id] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[peso] [decimal](6, 2) NULL,
	[estatura] [decimal](5, 2) NULL,
	[medidas] [nvarchar](1000) NULL,
	[observaciones] [nvarchar](max) NULL,
	[tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_EVALUACION_FISICA] PRIMARY KEY CLUSTERED 
(
	[evaluacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO](
	[evento_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[fecha] [datetime2](7) NOT NULL,
	[cupo_maximo] [int] NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
	[administrador_id] [int] NOT NULL,
 CONSTRAINT [PK_EVENTO] PRIMARY KEY CLUSTERED 
(
	[evento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO_TAREA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO_TAREA](
	[horario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[tarea] [nvarchar](255) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_HORARIO_TAREA] PRIMARY KEY CLUSTERED 
(
	[horario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPCION_EVENTO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPCION_EVENTO](
	[evento_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[fecha_inscripcion] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_INSCRIPCION_EVENTO] PRIMARY KEY CLUSTERED 
(
	[evento_id] ASC,
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBRESIA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBRESIA](
	[membresia_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[plan_id] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MEMBRESIA] PRIMARY KEY CLUSTERED 
(
	[membresia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[META]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[META](
	[meta_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[tipo] [nvarchar](100) NOT NULL,
	[valor_objetivo] [decimal](10, 2) NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_limite] [date] NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_META] PRIMARY KEY CLUSTERED 
(
	[meta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MULTIMEDIA_EJERCICIO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MULTIMEDIA_EJERCICIO](
	[multimedia_id] [int] IDENTITY(1,1) NOT NULL,
	[ejercicio_id] [int] NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[url] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_MULTIMEDIA_EJERCICIO] PRIMARY KEY CLUSTERED 
(
	[multimedia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACION]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACION](
	[notificacion_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[mensaje] [nvarchar](500) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_NOTIFICACION] PRIMARY KEY CLUSTERED 
(
	[notificacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBSERVACION_ENTRENADOR]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBSERVACION_ENTRENADOR](
	[observacion_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[entrenador_id] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[contenido] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OBSERVACION_ENTRENADOR] PRIMARY KEY CLUSTERED 
(
	[observacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[membresia_id] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_pago] [datetime2](7) NOT NULL,
	[metodo_pago] [nvarchar](30) NOT NULL,
	[registrado_por] [int] NOT NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETRO_RECOMENDACION]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETRO_RECOMENDACION](
	[parametro_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[valor] [nvarchar](500) NOT NULL,
	[administrador_id] [int] NOT NULL,
 CONSTRAINT [PK_PARAMETRO_RECOMENDACION] PRIMARY KEY CLUSTERED 
(
	[parametro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[permiso_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAN_MEMBRESIA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAN_MEMBRESIA](
	[plan_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[duracion_meses] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_PLAN_MEMBRESIA] PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREDICCION_DESERCION]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREDICCION_DESERCION](
	[prediccion_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[nivel_riesgo] [nvarchar](30) NOT NULL,
	[confiabilidad] [decimal](5, 2) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PREDICCION_DESERCION] PRIMARY KEY CLUSTERED 
(
	[prediccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECOMENDACION]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECOMENDACION](
	[recomendacion_id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[rutina_sugerida_id] [int] NOT NULL,
	[entrenador_id] [int] NULL,
	[fecha] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_RECOMENDACION] PRIMARY KEY CLUSTERED 
(
	[recomendacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTE]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTE](
	[reporte_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](100) NOT NULL,
	[periodo_inicio] [date] NULL,
	[periodo_fin] [date] NULL,
	[generado_por] [int] NOT NULL,
	[fecha_generacion] [datetime2](7) NOT NULL,
	[formato_exportado] [nvarchar](20) NULL,
 CONSTRAINT [PK_REPORTE] PRIMARY KEY CLUSTERED 
(
	[reporte_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_PERMISO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_PERMISO](
	[rol_id] [int] NOT NULL,
	[permiso_id] [int] NOT NULL,
 CONSTRAINT [PK_ROL_PERMISO] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC,
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTINA]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTINA](
	[rutina_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[objetivo] [nvarchar](100) NULL,
	[nivel] [nvarchar](30) NULL,
	[entrenador_id] [int] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_RUTINA] PRIMARY KEY CLUSTERED 
(
	[rutina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTINA_EJERCICIO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTINA_EJERCICIO](
	[rutina_id] [int] NOT NULL,
	[ejercicio_id] [int] NOT NULL,
	[orden] [int] NOT NULL,
	[series] [int] NOT NULL,
	[repeticiones] [int] NOT NULL,
	[descanso_segundos] [int] NOT NULL,
 CONSTRAINT [PK_RUTINA_EJERCICIO] PRIMARY KEY CLUSTERED 
(
	[rutina_id] ASC,
	[ejercicio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESION_EJERCICIO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESION_EJERCICIO](
	[sesion_id] [int] NOT NULL,
	[ejercicio_id] [int] NOT NULL,
	[series_completadas] [int] NULL,
	[repeticiones_realizadas] [int] NULL,
	[peso_utilizado] [decimal](8, 2) NULL,
	[completado] [bit] NOT NULL,
	[fecha_marcado] [datetime2](7) NULL,
	[observaciones] [nvarchar](500) NULL,
 CONSTRAINT [PK_SESION_EJERCICIO] PRIMARY KEY CLUSTERED 
(
	[sesion_id] ASC,
	[ejercicio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESION_ENTRENAMIENTO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESION_ENTRENAMIENTO](
	[sesion_id] [int] IDENTITY(1,1) NOT NULL,
	[asignacion_id] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SESION_ENTRENAMIENTO] PRIMARY KEY CLUSTERED 
(
	[sesion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[contrasena_hash] [nvarchar](255) NOT NULL,
	[telefono] [nvarchar](30) NULL,
	[foto_perfil] [nvarchar](500) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
	[rol_id] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALIDACION_PREDICCION]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALIDACION_PREDICCION](
	[validacion_id] [int] IDENTITY(1,1) NOT NULL,
	[prediccion_id] [int] NOT NULL,
	[administrador_id] [int] NOT NULL,
	[resultado] [nvarchar](50) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VALIDACION_PREDICCION] PRIMARY KEY CLUSTERED 
(
	[validacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VISITANTE]    Script Date: 29/09/2026 16:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITANTE](
	[visitante_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[telefono] [nvarchar](30) NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
	[convertido_cliente] [bit] NOT NULL,
	[usuario_id] [int] NULL,
 CONSTRAINT [PK_VISITANTE] PRIMARY KEY CLUSTERED 
(
	[visitante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADMINISTRADOR] ([usuario_id]) VALUES (3)
GO
SET IDENTITY_INSERT [dbo].[ASISTENCIA] ON 

INSERT [dbo].[ASISTENCIA] ([asistencia_id], [cliente_id], [fecha], [hora]) VALUES (1, 5, CAST(N'2026-09-29' AS Date), CAST(N'15:42:16.1444922' AS Time))
SET IDENTITY_INSERT [dbo].[ASISTENCIA] OFF
GO
INSERT [dbo].[CLIENTE] ([usuario_id], [badge_numero], [objetivo], [nivel], [entrenador_id]) VALUES (2, NULL, NULL, NULL, NULL)
INSERT [dbo].[CLIENTE] ([usuario_id], [badge_numero], [objetivo], [nivel], [entrenador_id]) VALUES (5, N'CLI005', NULL, NULL, NULL)
GO
INSERT [dbo].[ENTRENADOR] ([usuario_id], [especialidad]) VALUES (4, NULL)
GO
SET IDENTITY_INSERT [dbo].[MEMBRESIA] ON 

INSERT [dbo].[MEMBRESIA] ([membresia_id], [cliente_id], [plan_id], [fecha_inicio], [fecha_fin], [estado]) VALUES (4, 5, 1, CAST(N'2026-09-29' AS Date), CAST(N'2026-10-29' AS Date), N'ACTIVA')
SET IDENTITY_INSERT [dbo].[MEMBRESIA] OFF
GO
SET IDENTITY_INSERT [dbo].[PLAN_MEMBRESIA] ON 

INSERT [dbo].[PLAN_MEMBRESIA] ([plan_id], [nombre], [duracion_meses], [precio]) VALUES (1, N'Mensual', 1, CAST(20000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PLAN_MEMBRESIA] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([rol_id], [nombre]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[ROL] ([rol_id], [nombre]) VALUES (3, N'CLIENTE')
INSERT [dbo].[ROL] ([rol_id], [nombre]) VALUES (2, N'ENTRENADOR')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([usuario_id], [nombre], [correo], [contrasena_hash], [telefono], [foto_perfil], [estado], [fecha_registro], [rol_id]) VALUES (1, N'joshua', N'jrodriguezperez602@gmail.com', N'joshua', N'84660438', NULL, N'ACTIVO', CAST(N'2026-09-29T12:37:22.9194001' AS DateTime2), 2)
INSERT [dbo].[USUARIO] ([usuario_id], [nombre], [correo], [contrasena_hash], [telefono], [foto_perfil], [estado], [fecha_registro], [rol_id]) VALUES (2, N'josh', N'josh@gmail.com', N'123456', N'222222', NULL, N'ACTIVO', CAST(N'2026-09-29T13:55:01.4345701' AS DateTime2), 3)
INSERT [dbo].[USUARIO] ([usuario_id], [nombre], [correo], [contrasena_hash], [telefono], [foto_perfil], [estado], [fecha_registro], [rol_id]) VALUES (3, N'Admin Prueba', N'admin@kro.com', N'1234', NULL, NULL, N'ACTIVO', CAST(N'2026-09-29T14:46:05.6153655' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[VISITANTE] ON 

INSERT [dbo].[VISITANTE] ([visitante_id], [nombre], [correo], [telefono], [fecha_registro], [convertido_cliente], [usuario_id]) VALUES (1, N'josh', N'josh@gmail.com', N'222222', CAST(N'2026-09-29T13:55:00.4113927' AS DateTime2), 1, 2)
SET IDENTITY_INSERT [dbo].[VISITANTE] OFF
GO
/****** Object:  Index [IX_ASIGNACION_CLIENTE]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_ASIGNACION_CLIENTE] ON [dbo].[ASIGNACION_RUTINA]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ASIGNACION_ENTRENADOR]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_ASIGNACION_ENTRENADOR] ON [dbo].[ASIGNACION_RUTINA]
(
	[entrenador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ASISTENCIA_CLIENTE_FECHA]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[ASISTENCIA] ADD  CONSTRAINT [UQ_ASISTENCIA_CLIENTE_FECHA] UNIQUE NONCLUSTERED 
(
	[cliente_id] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ASISTENCIA_CLIENTE_FECHA]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_ASISTENCIA_CLIENTE_FECHA] ON [dbo].[ASISTENCIA]
(
	[cliente_id] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AUDITORIA_USUARIO_FECHA]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_AUDITORIA_USUARIO_FECHA] ON [dbo].[AUDITORIA]
(
	[usuario_id] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CALIFICACION_RECOMENDACION]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION] ADD  CONSTRAINT [UQ_CALIFICACION_RECOMENDACION] UNIQUE NONCLUSTERED 
(
	[recomendacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CLIENTE_BADGE]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [UQ_CLIENTE_BADGE] UNIQUE NONCLUSTERED 
(
	[badge_numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLIENTE_BADGE]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_CLIENTE_BADGE] ON [dbo].[CLIENTE]
(
	[badge_numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLIENTE_ENTRENADOR]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_CLIENTE_ENTRENADOR] ON [dbo].[CLIENTE]
(
	[entrenador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EVALUACION_CLIENTE]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_EVALUACION_CLIENTE] ON [dbo].[EVALUACION_FISICA]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MEMBRESIA_CLIENTE]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_MEMBRESIA_CLIENTE] ON [dbo].[MEMBRESIA]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOTIFICACION_USUARIO]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_NOTIFICACION_USUARIO] ON [dbo].[NOTIFICACION]
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAGO_MEMBRESIA]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_PAGO_MEMBRESIA] ON [dbo].[PAGO]
(
	[membresia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PERMISO_NOMBRE]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[PERMISO] ADD  CONSTRAINT [UQ_PERMISO_NOMBRE] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PREDICCION_CLIENTE]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_PREDICCION_CLIENTE] ON [dbo].[PREDICCION_DESERCION]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RECOMENDACION_CLIENTE]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_RECOMENDACION_CLIENTE] ON [dbo].[RECOMENDACION]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ROL_NOMBRE]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[ROL] ADD  CONSTRAINT [UQ_ROL_NOMBRE] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RUTINA_ENTRENADOR]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_RUTINA_ENTRENADOR] ON [dbo].[RUTINA]
(
	[entrenador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RUTINA_EJERCICIO_ORDEN]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[RUTINA_EJERCICIO] ADD  CONSTRAINT [UQ_RUTINA_EJERCICIO_ORDEN] UNIQUE NONCLUSTERED 
(
	[rutina_id] ASC,
	[orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SESION_ASIGNACION]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_SESION_ASIGNACION] ON [dbo].[SESION_ENTRENAMIENTO]
(
	[asignacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USUARIO_CORREO]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [UQ_USUARIO_CORREO] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USUARIO_ROL]    Script Date: 29/09/2026 16:02:36 ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_ROL] ON [dbo].[USUARIO]
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VALIDACION_PREDICCION]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[VALIDACION_PREDICCION] ADD  CONSTRAINT [UQ_VALIDACION_PREDICCION] UNIQUE NONCLUSTERED 
(
	[prediccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VISITANTE_CORREO]    Script Date: 29/09/2026 16:02:36 ******/
ALTER TABLE [dbo].[VISITANTE] ADD  CONSTRAINT [UQ_VISITANTE_CORREO] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA] ADD  DEFAULT (sysdatetime()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[AUDITORIA] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[EVALUACION_FISICA] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[EVENTO] ADD  DEFAULT ('ACTIVO') FOR [estado]
GO
ALTER TABLE [dbo].[HORARIO_TAREA] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[INSCRIPCION_EVENTO] ADD  DEFAULT (sysdatetime()) FOR [fecha_inscripcion]
GO
ALTER TABLE [dbo].[INSCRIPCION_EVENTO] ADD  DEFAULT ('INSCRITO') FOR [estado]
GO
ALTER TABLE [dbo].[MEMBRESIA] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[META] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[NOTIFICACION] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[NOTIFICACION] ADD  DEFAULT ('NO_LEIDA') FOR [estado]
GO
ALTER TABLE [dbo].[OBSERVACION_ENTRENADOR] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT (sysdatetime()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[RECOMENDACION] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[RECOMENDACION] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[REPORTE] ADD  DEFAULT (sysdatetime()) FOR [fecha_generacion]
GO
ALTER TABLE [dbo].[RUTINA] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[RUTINA] ADD  DEFAULT ('ACTIVA') FOR [estado]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] ADD  DEFAULT ((60)) FOR [descanso_segundos]
GO
ALTER TABLE [dbo].[SESION_EJERCICIO] ADD  DEFAULT ((0)) FOR [completado]
GO
ALTER TABLE [dbo].[SESION_ENTRENAMIENTO] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[SESION_ENTRENAMIENTO] ADD  DEFAULT ('EN_PROGRESO') FOR [estado]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ('ACTIVO') FOR [estado]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[VALIDACION_PREDICCION] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[VISITANTE] ADD  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[VISITANTE] ADD  DEFAULT ((0)) FOR [convertido_cliente]
GO
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD  CONSTRAINT [FK_ADMINISTRADOR_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[ADMINISTRADOR] CHECK CONSTRAINT [FK_ADMINISTRADOR_USUARIO]
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA] CHECK CONSTRAINT [FK_ASIGNACION_CLIENTE]
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_ENTRENADOR] FOREIGN KEY([entrenador_id])
REFERENCES [dbo].[ENTRENADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA] CHECK CONSTRAINT [FK_ASIGNACION_ENTRENADOR]
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_RUTINA] FOREIGN KEY([rutina_id])
REFERENCES [dbo].[RUTINA] ([rutina_id])
GO
ALTER TABLE [dbo].[ASIGNACION_RUTINA] CHECK CONSTRAINT [FK_ASIGNACION_RUTINA]
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIA_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[ASISTENCIA] CHECK CONSTRAINT [FK_ASISTENCIA_CLIENTE]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_AUDITORIA_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_AUDITORIA_USUARIO]
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK_CALIFICACION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION] CHECK CONSTRAINT [FK_CALIFICACION_CLIENTE]
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK_CALIFICACION_RECOMENDACION] FOREIGN KEY([recomendacion_id])
REFERENCES [dbo].[RECOMENDACION] ([recomendacion_id])
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION] CHECK CONSTRAINT [FK_CALIFICACION_RECOMENDACION]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ENTRENADOR] FOREIGN KEY([entrenador_id])
REFERENCES [dbo].[ENTRENADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ENTRENADOR]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_USUARIO]
GO
ALTER TABLE [dbo].[ENTRENADOR]  WITH CHECK ADD  CONSTRAINT [FK_ENTRENADOR_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[ENTRENADOR] CHECK CONSTRAINT [FK_ENTRENADOR_USUARIO]
GO
ALTER TABLE [dbo].[EVALUACION_FISICA]  WITH CHECK ADD  CONSTRAINT [FK_EVALUACION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[EVALUACION_FISICA] CHECK CONSTRAINT [FK_EVALUACION_CLIENTE]
GO
ALTER TABLE [dbo].[EVALUACION_FISICA]  WITH CHECK ADD  CONSTRAINT [FK_EVALUACION_ENTRENADOR] FOREIGN KEY([entrenador_id])
REFERENCES [dbo].[ENTRENADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[EVALUACION_FISICA] CHECK CONSTRAINT [FK_EVALUACION_ENTRENADOR]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_EVENTO_ADMINISTRADOR] FOREIGN KEY([administrador_id])
REFERENCES [dbo].[ADMINISTRADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[EVENTO] CHECK CONSTRAINT [FK_EVENTO_ADMINISTRADOR]
GO
ALTER TABLE [dbo].[HORARIO_TAREA]  WITH CHECK ADD  CONSTRAINT [FK_HORARIO_TAREA_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[HORARIO_TAREA] CHECK CONSTRAINT [FK_HORARIO_TAREA_USUARIO]
GO
ALTER TABLE [dbo].[INSCRIPCION_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPCION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[INSCRIPCION_EVENTO] CHECK CONSTRAINT [FK_INSCRIPCION_CLIENTE]
GO
ALTER TABLE [dbo].[INSCRIPCION_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPCION_EVENTO] FOREIGN KEY([evento_id])
REFERENCES [dbo].[EVENTO] ([evento_id])
GO
ALTER TABLE [dbo].[INSCRIPCION_EVENTO] CHECK CONSTRAINT [FK_INSCRIPCION_EVENTO]
GO
ALTER TABLE [dbo].[MEMBRESIA]  WITH CHECK ADD  CONSTRAINT [FK_MEMBRESIA_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[MEMBRESIA] CHECK CONSTRAINT [FK_MEMBRESIA_CLIENTE]
GO
ALTER TABLE [dbo].[MEMBRESIA]  WITH CHECK ADD  CONSTRAINT [FK_MEMBRESIA_PLAN] FOREIGN KEY([plan_id])
REFERENCES [dbo].[PLAN_MEMBRESIA] ([plan_id])
GO
ALTER TABLE [dbo].[MEMBRESIA] CHECK CONSTRAINT [FK_MEMBRESIA_PLAN]
GO
ALTER TABLE [dbo].[META]  WITH CHECK ADD  CONSTRAINT [FK_META_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[META] CHECK CONSTRAINT [FK_META_CLIENTE]
GO
ALTER TABLE [dbo].[MULTIMEDIA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_MULTIMEDIA_EJERCICIO] FOREIGN KEY([ejercicio_id])
REFERENCES [dbo].[EJERCICIO] ([ejercicio_id])
GO
ALTER TABLE [dbo].[MULTIMEDIA_EJERCICIO] CHECK CONSTRAINT [FK_MULTIMEDIA_EJERCICIO]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICACION_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [FK_NOTIFICACION_USUARIO]
GO
ALTER TABLE [dbo].[OBSERVACION_ENTRENADOR]  WITH CHECK ADD  CONSTRAINT [FK_OBSERVACION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[OBSERVACION_ENTRENADOR] CHECK CONSTRAINT [FK_OBSERVACION_CLIENTE]
GO
ALTER TABLE [dbo].[OBSERVACION_ENTRENADOR]  WITH CHECK ADD  CONSTRAINT [FK_OBSERVACION_ENTRENADOR] FOREIGN KEY([entrenador_id])
REFERENCES [dbo].[ENTRENADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[OBSERVACION_ENTRENADOR] CHECK CONSTRAINT [FK_OBSERVACION_ENTRENADOR]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_MEMBRESIA] FOREIGN KEY([membresia_id])
REFERENCES [dbo].[MEMBRESIA] ([membresia_id])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_MEMBRESIA]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_USUARIO] FOREIGN KEY([registrado_por])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_USUARIO]
GO
ALTER TABLE [dbo].[PARAMETRO_RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETRO_ADMINISTRADOR] FOREIGN KEY([administrador_id])
REFERENCES [dbo].[ADMINISTRADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[PARAMETRO_RECOMENDACION] CHECK CONSTRAINT [FK_PARAMETRO_ADMINISTRADOR]
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION]  WITH CHECK ADD  CONSTRAINT [FK_PREDICCION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION] CHECK CONSTRAINT [FK_PREDICCION_CLIENTE]
GO
ALTER TABLE [dbo].[RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK_RECOMENDACION_CLIENTE] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([usuario_id])
GO
ALTER TABLE [dbo].[RECOMENDACION] CHECK CONSTRAINT [FK_RECOMENDACION_CLIENTE]
GO
ALTER TABLE [dbo].[RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK_RECOMENDACION_ENTRENADOR] FOREIGN KEY([entrenador_id])
REFERENCES [dbo].[ENTRENADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[RECOMENDACION] CHECK CONSTRAINT [FK_RECOMENDACION_ENTRENADOR]
GO
ALTER TABLE [dbo].[RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK_RECOMENDACION_RUTINA] FOREIGN KEY([rutina_sugerida_id])
REFERENCES [dbo].[RUTINA] ([rutina_id])
GO
ALTER TABLE [dbo].[RECOMENDACION] CHECK CONSTRAINT [FK_RECOMENDACION_RUTINA]
GO
ALTER TABLE [dbo].[REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_REPORTE_USUARIO] FOREIGN KEY([generado_por])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[REPORTE] CHECK CONSTRAINT [FK_REPORTE_USUARIO]
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PERMISO_PERMISO] FOREIGN KEY([permiso_id])
REFERENCES [dbo].[PERMISO] ([permiso_id])
GO
ALTER TABLE [dbo].[ROL_PERMISO] CHECK CONSTRAINT [FK_ROL_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PERMISO_ROL] FOREIGN KEY([rol_id])
REFERENCES [dbo].[ROL] ([rol_id])
GO
ALTER TABLE [dbo].[ROL_PERMISO] CHECK CONSTRAINT [FK_ROL_PERMISO_ROL]
GO
ALTER TABLE [dbo].[RUTINA]  WITH CHECK ADD  CONSTRAINT [FK_RUTINA_ENTRENADOR] FOREIGN KEY([entrenador_id])
REFERENCES [dbo].[ENTRENADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[RUTINA] CHECK CONSTRAINT [FK_RUTINA_ENTRENADOR]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_RUTINA_EJERCICIO_EJERCICIO] FOREIGN KEY([ejercicio_id])
REFERENCES [dbo].[EJERCICIO] ([ejercicio_id])
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [FK_RUTINA_EJERCICIO_EJERCICIO]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_RUTINA_EJERCICIO_RUTINA] FOREIGN KEY([rutina_id])
REFERENCES [dbo].[RUTINA] ([rutina_id])
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [FK_RUTINA_EJERCICIO_RUTINA]
GO
ALTER TABLE [dbo].[SESION_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_SESION_EJERCICIO_EJERCICIO] FOREIGN KEY([ejercicio_id])
REFERENCES [dbo].[EJERCICIO] ([ejercicio_id])
GO
ALTER TABLE [dbo].[SESION_EJERCICIO] CHECK CONSTRAINT [FK_SESION_EJERCICIO_EJERCICIO]
GO
ALTER TABLE [dbo].[SESION_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_SESION_EJERCICIO_SESION] FOREIGN KEY([sesion_id])
REFERENCES [dbo].[SESION_ENTRENAMIENTO] ([sesion_id])
GO
ALTER TABLE [dbo].[SESION_EJERCICIO] CHECK CONSTRAINT [FK_SESION_EJERCICIO_SESION]
GO
ALTER TABLE [dbo].[SESION_ENTRENAMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_SESION_ASIGNACION] FOREIGN KEY([asignacion_id])
REFERENCES [dbo].[ASIGNACION_RUTINA] ([asignacion_id])
GO
ALTER TABLE [dbo].[SESION_ENTRENAMIENTO] CHECK CONSTRAINT [FK_SESION_ASIGNACION]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([rol_id])
REFERENCES [dbo].[ROL] ([rol_id])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
ALTER TABLE [dbo].[VALIDACION_PREDICCION]  WITH CHECK ADD  CONSTRAINT [FK_VALIDACION_ADMINISTRADOR] FOREIGN KEY([administrador_id])
REFERENCES [dbo].[ADMINISTRADOR] ([usuario_id])
GO
ALTER TABLE [dbo].[VALIDACION_PREDICCION] CHECK CONSTRAINT [FK_VALIDACION_ADMINISTRADOR]
GO
ALTER TABLE [dbo].[VALIDACION_PREDICCION]  WITH CHECK ADD  CONSTRAINT [FK_VALIDACION_PREDICCION] FOREIGN KEY([prediccion_id])
REFERENCES [dbo].[PREDICCION_DESERCION] ([prediccion_id])
GO
ALTER TABLE [dbo].[VALIDACION_PREDICCION] CHECK CONSTRAINT [FK_VALIDACION_PREDICCION]
GO
ALTER TABLE [dbo].[VISITANTE]  WITH CHECK ADD  CONSTRAINT [FK_VISITANTE_USUARIO] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[VISITANTE] CHECK CONSTRAINT [FK_VISITANTE_USUARIO]
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [CK_CALIFICACION_VALOR] CHECK  (([valor]>=(1) AND [valor]<=(5)))
GO
ALTER TABLE [dbo].[CALIFICACION_RECOMENDACION] CHECK CONSTRAINT [CK_CALIFICACION_VALOR]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CK_CLIENTE_NIVEL] CHECK  (([nivel] IS NULL OR ([nivel]='AVANZADO' OR [nivel]='INTERMEDIO' OR [nivel]='PRINCIPIANTE')))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CK_CLIENTE_NIVEL]
GO
ALTER TABLE [dbo].[EVALUACION_FISICA]  WITH CHECK ADD  CONSTRAINT [CK_EVALUACION_ESTATURA] CHECK  (([estatura] IS NULL OR [estatura]>(0)))
GO
ALTER TABLE [dbo].[EVALUACION_FISICA] CHECK CONSTRAINT [CK_EVALUACION_ESTATURA]
GO
ALTER TABLE [dbo].[EVALUACION_FISICA]  WITH CHECK ADD  CONSTRAINT [CK_EVALUACION_PESO] CHECK  (([peso] IS NULL OR [peso]>(0)))
GO
ALTER TABLE [dbo].[EVALUACION_FISICA] CHECK CONSTRAINT [CK_EVALUACION_PESO]
GO
ALTER TABLE [dbo].[EVENTO]  WITH CHECK ADD  CONSTRAINT [CK_EVENTO_CUPO] CHECK  (([cupo_maximo]>(0)))
GO
ALTER TABLE [dbo].[EVENTO] CHECK CONSTRAINT [CK_EVENTO_CUPO]
GO
ALTER TABLE [dbo].[MEMBRESIA]  WITH CHECK ADD  CONSTRAINT [CK_MEMBRESIA_FECHAS] CHECK  (([fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[MEMBRESIA] CHECK CONSTRAINT [CK_MEMBRESIA_FECHAS]
GO
ALTER TABLE [dbo].[META]  WITH CHECK ADD  CONSTRAINT [CK_META_FECHAS] CHECK  (([fecha_limite] IS NULL OR [fecha_limite]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[META] CHECK CONSTRAINT [CK_META_FECHAS]
GO
ALTER TABLE [dbo].[MULTIMEDIA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_MULTIMEDIA_TIPO] CHECK  (([tipo]='OTRO' OR [tipo]='GIF' OR [tipo]='VIDEO' OR [tipo]='IMAGEN'))
GO
ALTER TABLE [dbo].[MULTIMEDIA_EJERCICIO] CHECK CONSTRAINT [CK_MULTIMEDIA_TIPO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [CK_PAGO_METODO] CHECK  (([metodo_pago]='OTRO' OR [metodo_pago]='TRANSFERENCIA' OR [metodo_pago]='SINPE' OR [metodo_pago]='TARJETA' OR [metodo_pago]='EFECTIVO'))
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [CK_PAGO_METODO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [CK_PAGO_MONTO] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [CK_PAGO_MONTO]
GO
ALTER TABLE [dbo].[PLAN_MEMBRESIA]  WITH CHECK ADD  CONSTRAINT [CK_PLAN_DURACION] CHECK  (([duracion_meses]>(0)))
GO
ALTER TABLE [dbo].[PLAN_MEMBRESIA] CHECK CONSTRAINT [CK_PLAN_DURACION]
GO
ALTER TABLE [dbo].[PLAN_MEMBRESIA]  WITH CHECK ADD  CONSTRAINT [CK_PLAN_PRECIO] CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[PLAN_MEMBRESIA] CHECK CONSTRAINT [CK_PLAN_PRECIO]
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION]  WITH CHECK ADD  CONSTRAINT [CK_PREDICCION_CONFIABILIDAD] CHECK  (([confiabilidad]>=(0) AND [confiabilidad]<=(100)))
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION] CHECK CONSTRAINT [CK_PREDICCION_CONFIABILIDAD]
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION]  WITH CHECK ADD  CONSTRAINT [CK_PREDICCION_RIESGO] CHECK  (([nivel_riesgo]='ALTO' OR [nivel_riesgo]='MEDIO' OR [nivel_riesgo]='BAJO'))
GO
ALTER TABLE [dbo].[PREDICCION_DESERCION] CHECK CONSTRAINT [CK_PREDICCION_RIESGO]
GO
ALTER TABLE [dbo].[RUTINA]  WITH CHECK ADD  CONSTRAINT [CK_RUTINA_NIVEL] CHECK  (([nivel] IS NULL OR ([nivel]='AVANZADO' OR [nivel]='INTERMEDIO' OR [nivel]='PRINCIPIANTE')))
GO
ALTER TABLE [dbo].[RUTINA] CHECK CONSTRAINT [CK_RUTINA_NIVEL]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_RUTINA_EJERCICIO_DESCANSO] CHECK  (([descanso_segundos]>=(0)))
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [CK_RUTINA_EJERCICIO_DESCANSO]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_RUTINA_EJERCICIO_ORDEN_POSITIVO] CHECK  (([orden]>(0)))
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [CK_RUTINA_EJERCICIO_ORDEN_POSITIVO]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_RUTINA_EJERCICIO_REPETICIONES] CHECK  (([repeticiones]>(0)))
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [CK_RUTINA_EJERCICIO_REPETICIONES]
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_RUTINA_EJERCICIO_SERIES] CHECK  (([series]>(0)))
GO
ALTER TABLE [dbo].[RUTINA_EJERCICIO] CHECK CONSTRAINT [CK_RUTINA_EJERCICIO_SERIES]
GO
ALTER TABLE [dbo].[SESION_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_SESION_PESO] CHECK  (([peso_utilizado] IS NULL OR [peso_utilizado]>=(0)))
GO
ALTER TABLE [dbo].[SESION_EJERCICIO] CHECK CONSTRAINT [CK_SESION_PESO]
GO
ALTER TABLE [dbo].[SESION_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_SESION_REPETICIONES] CHECK  (([repeticiones_realizadas] IS NULL OR [repeticiones_realizadas]>=(0)))
GO
ALTER TABLE [dbo].[SESION_EJERCICIO] CHECK CONSTRAINT [CK_SESION_REPETICIONES]
GO
ALTER TABLE [dbo].[SESION_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [CK_SESION_SERIES] CHECK  (([series_completadas] IS NULL OR [series_completadas]>=(0)))
GO
ALTER TABLE [dbo].[SESION_EJERCICIO] CHECK CONSTRAINT [CK_SESION_SERIES]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [CK_USUARIO_ESTADO] CHECK  (([estado]='BLOQUEADO' OR [estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [CK_USUARIO_ESTADO]
GO
USE [master]
GO
